* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .covid {
  background-color: #233a95;
  position: relative;
  text-align: center;
  height: 37px;
  color: white;
  font-size: 12px;
  padding-top: 8px;
}

header .about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .about li {
  color: gray;
  margin-left: 20px;
  font-size: 13px;
  cursor: pointer;
}

header .secure {
  padding-bottom: 18px;
  padding-left: 100px;
  text-align: center;
}

header .secure span {
  color: gray;
  font-size: 13px;
}

header .secure .anc {
  color: gray;
  font-size: 17px;
}

header .help {
  text-align: center;
  padding-bottom: 18px;
}

header .help span {
  color: gray;
  padding-left: 10px;
  border-left: 1px solid #edeef5;
  font-size: 13px;
}

header .help a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  margin-left: 3px;
}

header .space {
  border-left: 1px solid #edeef5;
  padding-left: 10px;
}

header ul {
  padding: 0;
  list-style: none;
}

header ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}

header ul li a {
  display: block;
  color: gray;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header ul li a:hover {
  color: #2bbef9;
}

header ul li ul.dropdown {
  padding-top: 40px;
  min-width: 150px;
  min-height: 150px;
  background-color: whitesmoke;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

header ul li:hover ul.dropdown {
  background-color: #fafafa;
  color: #2bbef9;
  display: block;
}

header ul li ul.dropdown li {
  display: block;
}

header .site {
  text-decoration: none;
}

header .site .logo-img {
  width: 90%;
}

header .site .descp {
  display: block;
  color: gray;
  margin-top: 2px;
  font-size: 12px;
  opacity: .5;
}

header .location-wrapper .btn-modal strong {
  font-size: 13px;
  color: #223a95;
  padding-right: 50px;
}

header .location-wrapper .btn-modal .fa-solid {
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: 12px;
}

header .location-wrapper .btn-modal span {
  font-size: .6875rem;
  margin: 0;
  color: #979797;
  padding-right: 82px;
}

header .location-wrapper .btn-modal {
  position: relative;
  background-color: white;
  color: #233a95;
  border: 1px solid rgba(151, 151, 151, 0.5);
  margin-top: 10px;
  margin-left: 30px;
  height: 54px;
  border-radius: 5px;
  width: 180px;
}

header .location-wrapper .btn-modal:hover {
  -webkit-box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1), 0 10px 35px 0 rgba(0, 0, 0, 0.1);
}

header .location-wrapper .btn-modal:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .location-wrapper .modal-body {
  height: 400px;
  overflow-y: scroll;
}

header .location-wrapper .modal-body span {
  float: right;
}

header .location-wrapper .modal-body .modals-search {
  margin-left: 18px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-top: 7px;
  background-color: #f3f4f7;
  width: 417px;
  border-radius: 5px;
}

header .location-wrapper .modal-body .search {
  background-color: transparent;
}

header .location-wrapper .modal-body .search::-webkit-input-placeholder {
  color: #979797;
}

header .location-wrapper .modal-body .search:-ms-input-placeholder {
  color: #979797;
}

header .location-wrapper .modal-body .search::-ms-input-placeholder {
  color: #979797;
}

header .location-wrapper .modal-body .search::placeholder {
  color: #979797;
}

header .location-wrapper .modal-body .search:focus {
  border: none;
}

header .location-wrapper .modal-body .search:focus-visible {
  outline: none;
}

header .input {
  position: relative;
  width: 554px;
  padding-top: 8px;
  padding-left: 30px;
}

header .input input {
  padding: 0px 15px;
  width: 550px;
  height: 60px;
  background-color: #f3f4f7;
  border-radius: 10px;
  border: none;
}

header .input input:focus {
  outline: none;
}

header .input .fa-solid {
  position: absolute;
  top: 28px;
  right: 0;
  font-size: 20px;
}

header .profile {
  background-color: #ffffff;
  border-color: #e2e4ec;
  position: relative;
  padding-top: 16px;
}

header .profile .fa-solid {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gainsboro;
  font-size: 19px;
  color: #3e445a;
  padding: 9px;
  padding-left: 10px;
}

header .dropbtn {
  color: black;
  background-color: white;
  padding-top: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  padding-right: 12px;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

header .dropdown-content {
  margin-top: 35px;
  display: none;
  position: absolute;
  left: -200px;
  background-color: #f9f9f9;
  height: 300px;
  min-width: 300px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .dropdown-content a:hover {
  background-color: #f1f1f1;
}

header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown .shop {
  position: absolute;
  font-size: 19px;
  color: #ea2b0f;
  width: 40px;
  height: 40px;
  background-color: #fff1ee;
  border-color: #fff1ee;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 10px;
}

header .price {
  position: relative;
  padding-left: 50px;
}

header .dropdown-content .crystal {
  position: absolute;
  font-size: 50px;
  color: #ea2b0f;
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  border-color: #fff1ee;
  border-radius: 50%;
  padding-top: 20px;
  padding-left: 20px;
  top: 18%;
  left: 36%;
}

header .dropdown-content span {
  position: absolute;
  top: 44%;
  left: 22%;
  color: black;
}

header .dropdown-content .content {
  height: 240px;
  border-bottom: 1px solid gainsboro;
}

header .dropdown-content .ship {
  font-size: 12px;
  position: absolute;
  top: 255px;
  left: 14%;
  color: gray;
}

header .shop .cart-icon span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: #ea2b0f;
  color: #ffffff;
  top: 0;
  right: -4px;
  font-size: 11px;
  padding-left: 6px;
  padding-top: 3px;
}

header .shop .cart-icon {
  width: 20px;
  height: 20px;
}

header .dropdown2 .btn-dropdown {
  background-color: #2BBEF9;
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 214px;
}

header .dropdown2 .dropdown-menu {
  width: 215px;
  margin-top: 20px !important;
}

header .dropdown2 .dropdown-menu li {
  cursor: pointer;
}

header .dropdown2 .dropdown-menu li:hover {
  color: #2BBEF9;
}

header .dropdown2 .dropdown-menu li:hover a {
  background-color: white;
  color: #2BBEF9;
}

header .dropdown2 .dropdown-menu li .first {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #D9D9D9;
  height: 255px;
  border-radius: 4px;
  width: 220px;
}

header .dropdown2 .dropdown-menu li .first li {
  padding: 0;
  border: none;
}

header .dropdown2 .dropdown-menu li .last {
  display: none;
  position: absolute;
  left: 214px;
  top: 0px;
  border: 1px solid #D9D9D9;
  height: 340px;
  border-radius: 4px;
  width: 220px;
}

header .dropdown2 .dropdown-menu li .last li {
  padding: 0;
  border: none;
}

header .dropdown2 .dropdown-menu li:hover ul {
  display: block;
}

header .dropdown2 .dropdown-menu li a i {
  padding-right: 5px;
}

header .dropdown2 .dropdown-menu li .chevron {
  display: inline;
  padding: 0 13px;
}

header .dropdown2 .dropdown-menu li .last-item {
  border-bottom: 1px solid #b9b9b9;
}

header .dropbtn3 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropdown3 {
  position: relative;
  display: inline-block;
}

header .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .dropdown-content3 a:hover {
  color: #2BBEF9;
}

header .dropdown3:hover .dropdown-content3 {
  display: block;
}

header .dropdown3:hover .dropbtn3 {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .menu .dropdown3 .down {
  font-size: 13px;
  margin-left: 2px;
}

header .dropbtn4 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropdown4 {
  position: relative;
  display: inline-block;
}

header .dropdown-content4 {
  width: 100vw;
  height: 25vw;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .dropdown-content4 a {
  color: #233a95;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 80px;
}

header .dropdown-content4 a:hover {
  color: #2BBEF9;
}

header .dropdown4:hover .dropdown-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -735px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .dropdown4:hover .dropbtn4 {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .menu .dropdown4 .down {
  font-size: 13px;
  margin-left: 2px;
}

header .dropdown4 .dropdown-content4 a ul {
  color: black;
  margin-top: 20px;
}

header .dropdown4 .dropdown-content4 a ul li {
  margin-top: 10px;
  display: block;
  margin-right: 50px !important;
}

header .dropdown4 .dropdown-content4 a ul li:hover {
  color: #2bbef9;
}

header .dropbtn5 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropbtn5:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .dropbtn5 .meat {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

header .dropbtn5:hover .meat {
  color: #2bbef9;
  background-color: #e4eaec;
}

header .dropbtn6 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropbtn6:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .dropbtn6 .cookie {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

header .dropbtn6:hover .cookie {
  color: #2bbef9;
  background-color: #e4eaec;
}

header .dropbtn7 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropbtn7:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .dropbtn7 .coffee {
  color: gray;
  margin-right: 7px;
  font-size: 18px;
}

header .dropbtn7:hover .coffee {
  color: #2bbef9;
  background-color: #e4eaec;
}

header .dropbtn8 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropbtn8:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .dropbtn9 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .dropbtn9:hover {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

main .slider {
  width: 100%;
  height: 600px;
  position: relative;
}

main .slider .img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .slider .img div {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .slider .img img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .slider .icons .icon {
  position: absolute;
  top: 50%;
  font-size: 17px;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white;
  padding-left: 13px;
  padding-top: 8px;
}

main .slider .icons .left {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  border-radius: 50%;
  opacity: 0.7;
}

main .slider .icons .right {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
}

main .slider .icons .left:hover {
  opacity: 1;
}

main .slider .icons .right:hover {
  opacity: 1;
}

main .active {
  opacity: 1 !important;
}

main .big-img {
  border: 1px solid #edeef5;
  height: 290px;
}

main .big-img img {
  margin-left: 55px;
  height: 193px;
  width: 193px;
}

main .big-img h4 {
  text-align: center;
  font-size: 17px;
}

main .big-img h5 {
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .biscuit {
  border: 1px solid #edeef5;
  height: 146px;
}

main .biscuit img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .biscuit h4 {
  font-size: 17px;
  display: inline;
}

main .biscuit h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .bread {
  border: 1px solid #edeef5;
  height: 146px;
}

main .bread img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .bread h4 {
  font-size: 17px;
  display: inline;
}

main .bread h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .dairy {
  border: 1px solid #edeef5;
  height: 146px;
}

main .dairy img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .dairy h4 {
  font-size: 17px;
  display: inline;
}

main .dairy h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .category {
  border: 1px solid #edeef5;
  height: 146px;
}

main .category img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .category h4 {
  font-size: 17px;
  display: inline;
}

main .category h5 {
  margin-top: 100px;
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .fruits {
  border: 1px solid #edeef5;
  height: 146px;
}

main .fruits img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .fruits h4 {
  font-size: 17px;
  display: inline;
}

main .fruits h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .cats {
  border: 1px solid #edeef5;
  height: 146px;
}

main .cats img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .cats h4 {
  font-size: 17px;
  display: inline;
}

main .cats h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .house {
  border: 1px solid #edeef5;
  height: 146px;
}

main .house img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .house h4 {
  font-size: 17px;
  display: inline;
}

main .house h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main .meatss {
  border: 1px solid #edeef5;
  height: 146px;
}

main .meatss img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-top: 30px;
}

main .meatss h4 {
  font-size: 17px;
  display: inline;
}

main .meatss h5 {
  float: right;
  text-align: center;
  opacity: 0.8;
  font-size: 13px;
}

main * {
  font-family: "Inter",sans-serif;
}

main .cl {
  height: 780px;
  border: 2px solid #ed174a;
  border-radius: 10px;
}

main .cl h4 {
  color: #233a95;
  font-size: 25px;
  padding-top: 35px;
  margin-left: 20px;
}

main .cl .remain {
  font-size: 15px;
  opacity: 0.6;
  margin-left: 25px;
}

main .cl .product img {
  width: 350px;
  height: 315px;
  margin-top: -15px;
  margin-left: 33px;
  cursor: pointer;
}

main .cl .in-ctn {
  padding-top: 40px;
  margin-left: 70px;
}

main .cl .in-ctn h3 {
  position: absolute;
  background-color: #ed174a;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #ed174a;
  font-size: 19px;
  color: white;
  padding: 18px;
  padding-left: 10px;
  cursor: pointer;
}

main .cl .price {
  margin-left: -30px;
}

main .cl .price .expensive {
  text-decoration: line-through;
  display: inline;
  color: gray;
  opacity: 0.9;
  font-size: 19px;
}

main .cl .price .cheap {
  margin-left: 5px;
  font-size: 22px;
  display: inline;
  color: #ed174a;
}

main .cl .text {
  margin-top: 15px;
  margin-left: 35px;
  font-size: 18px;
  font-weight: bold;
}

main .cl .stars {
  margin-left: 35px;
}

main .cl .stars .fa-star {
  color: rgba(255, 255, 0, 0.938);
}

main .cl .available {
  margin-right: 15px;
  margin-top: 35px;
  float: right;
}

main .cl .available .ava {
  color: gray;
  opacity: 0.9;
  font-size: 12px;
}

main .cl .available .count {
  color: #233a95;
  font-size: 17px;
  display: inline;
}

main .cl .kg {
  margin-left: 35px;
  margin-top: 10px;
}

main .cl .kg .kilos {
  font-size: 12px;
  color: gray;
  opacity: 0.9;
}

main .cl .kg .stock {
  margin-left: 4px;
  color: #00b853;
  display: inline;
  font-size: 14px;
}

main .cl .grad {
  margin-top: 70px;
  margin-left: 20px;
  width: 90%;
  height: 10px;
  background-color: #edeef5;
  border-radius: 25px;
}

main .cl .grad .gradient {
  border-radius: 25px;
  width: 75%;
  height: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(yellow));
  background-image: linear-gradient(to right, red, yellow);
}

main .clock {
  position: relative !important;
  padding-top: 0;
  margin-left: -160px;
  height: 100px;
  width: 800px;
  zoom: 0.8;
  transform: scale(0.54);
  -ms-transform: scale(0.54);
  -webkit-transform: scale(0.54);
  -o-transform: scale(0.54);
  -moz-transform: scale(0.54);
}

main .clock .flip-clock-label {
  display: none;
}

main .clock .inn {
  color: white !important;
  background-color: #ed174a !important;
}

main .spaces {
  padding: 0;
}

main .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .cars h3 {
  position: absolute;
  background-color: #2bbef9;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
  float: left;
  color: white;
  padding-top: 7px;
  padding-left: 14px;
  top: 20px;
}

main .card .in-card {
  padding-top: 20px;
  margin-left: -210px;
}

main .card .in-card h3 {
  position: absolute;
  background-color: #2bbef9;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
  float: left;
  color: white;
  padding-top: 7px;
  padding-left: 14px;
}

main .card .recom {
  position: relative;
  top: 50px;
  right: 30px;
}

main .card .recom h3 {
  position: absolute;
  background-color: gray;
  width: 122px;
  height: 25px;
  border-radius: 10px;
  font-size: 12px;
  float: left;
  color: white;
  padding-top: 7px;
  padding-left: 14px;
}

main .card .organic {
  position: relative;
  top: 29px;
  right: 107px;
}

main .card .organic h3 {
  position: absolute;
  background-color: #b1e6c9;
  width: 85px;
  height: 25px;
  border-radius: 10px;
  font-size: 12px;
  float: left;
  color: #05853e;
  padding-top: 7px;
  padding-left: 14px;
}

main .card .card-title {
  font-size: 17px;
}

main .card .card-img-top {
  width: 209px;
  height: 188px;
}

main .card .card-text {
  color: #00b853;
  font-size: 14px;
}

main .card .card-stars {
  margin-top: -5px;
  font-size: 13px;
  color: rgba(255, 255, 0, 0.938);
}

main .card .card-stars .gray {
  color: gray;
}

main .card .expensive {
  text-decoration: line-through;
  display: inline;
  color: gray;
  opacity: 0.9;
  font-size: 17px;
}

main .card .cheap {
  margin-left: 5px;
  font-size: 20px;
  display: inline;
  color: #ed174a;
}

main .card .btn {
  display: none;
  opacity: 0;
  background-color: #233a95;
  color: #fff;
  border-radius: 15px;
}

main .card:hover .btn {
  display: block;
  opacity: 1;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
}

main .crd {
  height: 434px;
}

main .crd:hover {
  height: 460px;
  position: absolute;
  z-index: 1;
  width: 280px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 1px 1px 2px #233a95;
          box-shadow: 0px 1px 1px 2px #233a95;
}

main .ice-cream {
  position: relative;
}

main .ice-cream img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
}

main .ice-cream p {
  position: absolute;
  top: 70px;
  left: 50px;
  color: #e66161;
  font-size: 17px;
}

main .ice-cream h5 {
  position: absolute;
  top: 110px;
  left: 50px;
  font-size: 25px;
  font-weight: bold;
}

main .ice-cream span {
  position: absolute;
  left: 52px;
  top: 155px;
  font-size: 15px;
}

main .ice-cream button {
  position: absolute;
  top: 200px;
  left: 50px;
  background-color: #233a95;
  color: #fff;
  border-radius: 15px;
  width: 100px;
  border: none;
  font-size: 14px;
  height: 35px;
}

main .ice-cream .red {
  background-color: red;
}

main .best-sellers h3 {
  font-size: 19px;
  font-weight: bold;
}

main .best-sellers span {
  color: gray;
}

main .view-all {
  float: right;
  position: relative;
}

main .view-all button {
  width: 150px;
  background-color: white;
  color: gray;
  border-radius: 20px;
  width: 100px;
  border: 1px solid gray;
  font-size: 14px;
  height: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .view-all button:hover {
  color: black;
}

main .view-all .arro {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 13px;
  opacity: 0.7;
}

main .cards {
  width: 260px;
}

main .cards .btn {
  opacity: 1;
  display: block;
  margin-left: 0;
}

main .icons {
  font-size: 17px;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: white;
  padding-left: 15px;
  padding-top: 8px;
}

main .icons .icon-left {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 40px;
  border-radius: 50%;
  opacity: 0.7;
}

main .icons .icon-right {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.7;
}

main .icons .icon-left:hover {
  opacity: 1;
}

main .icons .icon-right:hover {
  opacity: 1;
}

main .owl-carousel .owl-carousel.owl-theme.owl-loaded.owl-drag {
  position: relative !important;
}

main .owl-carousel .btns {
  background-color: #ffcd00;
  color: #fff;
  border-radius: 15px;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 38px;
  font-size: 16px;
  padding: 10px 12px;
  margin: 24px 0 0;
}

main .owl-carousel .owl-dots {
  display: none;
}

main .owl-carousel .owl-nav .owl-prev {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: -25px;
  border-radius: 50%;
  background-color: #f0e7e7 !important;
  color: black !important;
  opacity: 0.8;
}

main .owl-carousel .owl-nav .owl-prev:hover {
  opacity: 1;
}

main .owl-carousel .owl-nav .owl-next {
  -webkit-box-shadow: #3e445a;
          box-shadow: #3e445a;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  right: -25px;
  border-radius: 50%;
  background-color: #f0e7e7 !important;
  color: black !important;
  opacity: 0.8;
}

main .owl-carousel .owl-nav .owl-next:hover {
  opacity: 1;
}

main .banner {
  height: 70px;
  background-color: #fbeacf;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .banner a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

main .height {
  height: 250px;
}

main .natural p {
  color: #00b853;
}

main .natural img {
  border-radius: 5px;
}

main .natural button {
  background-color: #c5c4c4;
}

main .ditch p {
  color: #00b853;
}

main .ditch img {
  border-radius: 5px;
}

main .ditch button {
  background-color: #c5c4c4;
}

main .taste p {
  color: #00b853;
}

main .taste img {
  border-radius: 5px;
}

main .taste button {
  background-color: #c5c4c4;
}

main .width span {
  color: gray;
}

main .width .cmnt {
  margin-left: 20px;
  color: black;
}

main .width .baco {
  color: black;
}

main .width .by {
  margin-left: 20px;
  font-style: italic;
}

main .width h2 {
  line-height: 13px;
}

main .width h2 a {
  color: #202435;
  text-decoration: none;
  font-size: 17.8px;
}

main .width a {
  position: relative;
  font-size: .8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #9b9bb4;
  margin-right: 0.75rem;
}

main .width .image {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 420px;
  height: 260px;
}

footer .footer-top {
  background-color: #233a95;
  height: 300px;
}

footer .footer-top .col-7 {
  padding-top: 30px;
}

footer .footer-top .subscribe {
  background-color: white;
  float: right;
  color: black;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

footer .footer-top h6 {
  padding-top: 50px;
  color: white;
}

footer .footer-top i {
  background-color: white;
  font-size: 20px;
}

footer .footer-top .sub-bar {
  background-color: white;
  height: 50px;
  border-radius: 3px;
}

footer .footer-top .sub-bar .subscribe, footer .footer-top .sub-bar .subscribe-input, footer .footer-top .sub-bar i {
  margin-top: 13px;
  padding-left: 10px;
}

footer .footer-top .subscribe-input {
  border: none;
}

footer .footer-top h3 {
  color: white;
}

footer .footer-top p {
  color: gray;
}

footer .footer-top .col-7 img {
  color: blue;
}

footer .daily-info {
  height: 65px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid gray;
  background-color: #fafafa;
}

footer .daily-info span {
  margin-left: 10px;
}

footer .daily-info i {
  margin-left: 25px;
}

footer .daily-info .col-3 {
  border-right: 1px solid gray;
}

footer .product-info {
  height: 550px;
  padding-top: 80px;
  background-color: #fafafa;
}

footer .product-info h6 {
  padding-bottom: 20px;
}

footer .product-info a {
  font-size: 16px;
  color: gray;
  text-decoration: none;
}

footer .product-info .col-2-custom {
  width: 258px;
}

footer .info {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info .left-info i {
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  width: 40px;
  position: absolute;
  height: 40px;
  padding: 9px;
}

footer .info .col-2 i {
  border-radius: 50%;
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  padding: 11px;
  margin-left: 10px;
}

footer .info span {
  color: gray;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

footer .info p {
  font-size: 13px;
  color: gray;
}

footer .info h6 {
  padding-left: 30px;
}

footer .info .text {
  padding-left: 60px;
}

footer .footer-finish {
  height: 100px;
  padding-top: 40px;
}

footer .footer-finish p {
  font-size: 13px;
  color: gray;
}

footer .footer-finish a {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}
/*# sourceMappingURL=home.css.map */